# 1. COLLECTED DATA
Avaibility data quantity and quality control

### Init libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# avoid displaying warnings 
import warnings
warnings.filterwarnings("ignore")

### 1. Collect data

In [2]:
data = pd.read_csv("medical.csv", sep=';')

In [3]:
# Show first lines (head)
print(data.head(10))

           Disease Fever Cough Fatigue Difficulty Breathing  Age  Gender  \
0        Influenza   Yes    No     Yes                  Yes   19  Female
1      Common Cold    No   Yes     Yes                   No   25  Female
2           Eczema    No   Yes     Yes                   No   25  Female
3           Asthma   Yes   Yes      No                  Yes   25    Male
4           Asthma   Yes   Yes      No                  Yes   25    Male
5           Eczema   Yes    No      No                   No   25  Female
6        Influenza   Yes   Yes     Yes                  Yes   25  Female
7        Influenza   Yes   Yes     Yes                  Yes   25  Female
8  Hyperthyroidism    No   Yes      No                   No   28  Female
9  Hyperthyroidism    No   Yes      No                   No   28  Female

  Blood Pressure Cholesterol Level Outcome Variable
0            Low            Normal         Positive
1         Normal            Normal         Negative
2         Normal            Normal         Negative
3         Normal            Normal         Positive
4         Normal            Normal         Positive
5         Normal            Normal         Positive
6         Normal            Normal         Positive
7         Normal            Normal         Positive
8         Normal            Normal         Negative
9         Normal            Normal         Negative

In [4]:
# Informations about data type and length
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [5]:
#Data structure
data.describe()

              Age
count  349.000000
mean    46.323782
std     13.085090
min     19.000000
25%     35.000000
50%     45.000000
75%     55.000000
max     90.000000

In [6]:
# Checking all the missing value in the data 
data.isnull().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

### Cleaning and preparing the data

By Marina

#### 2. Cleaning

In [7]:
# A) Drop the missing values
df = data.dropna()

In [8]:
# B) Verify distributong disease
print(df["Disease"].value_counts())

Disease
Asthma               23
Stroke               16
Osteoporosis         14
Diabetes             10
Hypertension         10
                     ..
Schizophrenia         1
Gout                  1
Testicular Cancer     1
Tonsillitis           1
Williams Syndrome     1
Name: count, Length: 116, dtype: int64

In [9]:
encoder = LabelEncoder()
df["Disease"] = encoder.fit_transform(df["Disease"])  # Transformer les maladies en nombres
df["Gender"] = encoder.fit_transform(df["Gender"])  # Transformer Male/Female en 0/1

In [20]:
df.head(10)

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,56,1,0,1,1,19,0,1,2,1
1,24,0,1,1,0,25,0,2,2,0
2,37,0,1,1,0,25,0,2,2,0
3,6,1,1,0,1,25,1,2,2,1
4,6,1,1,0,1,25,1,2,2,1
5,37,1,0,0,0,25,0,2,2,1
6,56,1,1,1,1,25,0,2,2,1
7,56,1,1,1,1,25,0,2,2,1
8,53,0,1,0,0,28,0,2,2,0
9,53,0,1,0,0,28,0,2,2,0

In [11]:
df.replace({"Yes": 1, "No": 0}, inplace=True)

In [14]:
print(df.dtypes)

Disease                  int64
Fever                    int64
Cough                    int64
Fatigue                  int64
Difficulty Breathing     int64
Age                      int64
Gender                   int64
Blood Pressure          object
Cholesterol Level       object
Outcome Variable        object
dtype: object

In [15]:
categorical_columns = ["Blood Pressure", "Cholesterol Level", "Outcome Variable"]

# Appliquer LabelEncoder à chaque colonne
encoder = LabelEncoder()
for col in categorical_columns:
    df[col] = encoder.fit_transform(df[col])

In [16]:
print(df.dtypes)  # Toutes les colonnes doivent être int64 ou float64
print(df.head())  # Vérifier les valeurs transformées

Disease                 int64
Fever                   int64
Cough                   int64
Fatigue                 int64
Difficulty Breathing    int64
Age                     int64
Gender                  int64
Blood Pressure          int64
Cholesterol Level       int64
Outcome Variable        int64
dtype: object
   Disease  Fever  Cough  Fatigue  Difficulty Breathing  Age  Gender  \
0       56      1      0        1                     1   19       0
1       24      0      1        1                     0   25       0
2       37      0      1        1                     0   25       0
3        6      1      1        0                     1   25       1
4        6      1      1        0                     1   25       1

   Blood Pressure  Cholesterol Level  Outcome Variable
0               1                  2                 1
1               2                  2                 0
2               2                  2                 0
3               2                  2                 1
4               2                  2                 1

In [17]:
X = df.drop(columns=["Disease"])  # Caractéristiques
y = df["Disease"]  # Cible

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
models = {
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "KNN": KNeighborsClassifier()
}

for name, model in models.items():
    model.fit(X_train, y_train)  # Entraînement
    y_pred = model.predict(X_test)  # Prédiction
    acc = accuracy_score(y_test, y_pred)  # Score de précision
    print(f"{name} Accuracy: {acc:.2f}")

Random Forest Accuracy: 0.30
SVM Accuracy: 0.14
KNN Accuracy: 0.06