# 1. COLLECTED DATA
Avaibility data quantity and quality control

### Init libraries

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# avoid displaying warnings 
import warnings
warnings.filterwarnings("ignore")

### 1. Collect data

In [20]:
data = pd.read_csv("medical.csv", sep=';')

In [21]:
# Show first lines (head)
print(data.head(10))

           Disease Fever Cough Fatigue Difficulty Breathing  Age  Gender  \
0        Influenza   Yes    No     Yes                  Yes   19  Female
1      Common Cold    No   Yes     Yes                   No   25  Female
2           Eczema    No   Yes     Yes                   No   25  Female
3           Asthma   Yes   Yes      No                  Yes   25    Male
4           Asthma   Yes   Yes      No                  Yes   25    Male
5           Eczema   Yes    No      No                   No   25  Female
6        Influenza   Yes   Yes     Yes                  Yes   25  Female
7        Influenza   Yes   Yes     Yes                  Yes   25  Female
8  Hyperthyroidism    No   Yes      No                   No   28  Female
9  Hyperthyroidism    No   Yes      No                   No   28  Female

  Blood Pressure Cholesterol Level Outcome Variable
0            Low            Normal         Positive
1         Normal            Normal         Negative
2         Normal            Normal         Negative
3         Normal            Normal         Positive
4         Normal            Normal         Positive
5         Normal            Normal         Positive
6         Normal            Normal         Positive
7         Normal            Normal         Positive
8         Normal            Normal         Negative
9         Normal            Normal         Negative

In [22]:
# Informations about data type and length
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [23]:
#Data structure
data.describe()

              Age
count  349.000000
mean    46.323782
std     13.085090
min     19.000000
25%     35.000000
50%     45.000000
75%     55.000000
max     90.000000

In [24]:
# Checking all the missing value in the data 
data.isnull().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

### Cleaning and preparing the data

By Marina

#### 2. Cleaning

In [25]:
# A) Check double values
data.duplicated().sum()

np.int64(49)

In [26]:
# B) Drop the missing values
df = data.dropna()

In [27]:
# C) Verify data for know what's problem we have
df.head(10)

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
5,Eczema,Yes,No,No,No,25,Female,Normal,Normal,Positive
6,Influenza,Yes,Yes,Yes,Yes,25,Female,Normal,Normal,Positive
7,Influenza,Yes,Yes,Yes,Yes,25,Female,Normal,Normal,Positive
8,Hyperthyroidism,No,Yes,No,No,28,Female,Normal,Normal,Negative
9,Hyperthyroidism,No,Yes,No,No,28,Female,Normal,Normal,Negative

In [28]:
# D) Dropping they column "departement" and "region" because the data is false
data.drop ('Id', axis=8 & 9, inplace=True)

ValueError: No axis named 8 for object type DataFrame